body {
  background-color: #191919;
  color: #e1e1e1;
  margin: 10px;
}

div.item {
  text-align: right;
  display: flex;
  align-items: center;
}

div.item > div.title {
  white-space: normal;
  flex-grow: 1;
}

div.item > div.count {
  font-size: 32px;
  margin-left: 5px;
  min-width: 40px;
  text-align: center;
}

div.category {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

div.category > button {
  float: right;
}

div.category > button:disabled > img {
  filter: brightness(50%);
}

div.category h1 {
  line-height: 70px;
  font-size: 24px;
}

div.category > div {
  clear: both;
}

button {
  border: 0;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

img.plus-icon,
img.minus-icon {
  height: 60px;
  width: 60px;
}

div.non-zero {
  font-weight: bold;
}

input.category-selected-input {
  display: none;
}

input.category-selected-input:checked + div.category-items {
  display: none;
}
